.background {
    -fx-background-color: #bfcecb;
}

.btn {
    -fx-background-color: #8199A3;
    -fx-text-fill: white;
    -fx-font-family: "QUARTZO demo Bold";
}

.btn-menu {
    -fx-font-size: 120;
}

.btn-game {
    -fx-font-size: 54;
}

.red_number {
    -fx-text-fill: #EE7469;
}

.white_number {
    -fx-text-fill: #FFF0D6;
}

.scorebar {
    -fx-fill: #383732;
    -fx-stroke-width: 0;
}